In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## read data

In [12]:
site_df = pd.read_csv('/Users/mouyly/Downloads/jupiter_notebook/SCATS_cleaned.csv' , skiprows=9)
site_df.head()

,Site Number,Location Description,Site Type,Directory,Map reference,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,964,ABBOTTS/CLELANDS DEVELOPMENTS,INT,Melway,095G08,NaN,NaN,NaN,NaN
1,968,ABBOTTS/GAINE/MONASH,INT,Melway,095K08,NaN,NaN,NaN,NaN
2,972,ABBOTTS/NATIONAL,INT,Melway,95J08,NaN,NaN,NaN,NaN
3,983,ABBOTTS/REMINGTON,INT,Melway,095G08,NaN,NaN,NaN,NaN
4,1053,ABBOTTSFORD/HAINES,INT,Melway,2A-G07,NaN,NaN,NaN,NaN

In [13]:
# Drop columns that are completely empty (all NaN)
site_df = site_df.dropna(axis=1, how='all')

# Preview cleaned dataframe
site_df.head()

,Site Number,Location Description,Site Type,Directory,Map reference
0,964,ABBOTTS/CLELANDS DEVELOPMENTS,INT,Melway,095G08
1,968,ABBOTTS/GAINE/MONASH,INT,Melway,095K08
2,972,ABBOTTS/NATIONAL,INT,Melway,95J08
3,983,ABBOTTS/REMINGTON,INT,Melway,095G08
4,1053,ABBOTTSFORD/HAINES,INT,Melway,2A-G07

In [14]:
print(site_df.columns)

Index(['Site Number', 'Location Description', 'Site Type', 'Directory',
       'Map reference '],
      dtype='object')

## clean the data

### check for missing value

In [16]:
site_df.isnull().sum()

Site_Number               0
Location_Description      0
Site_Type                 0
Directory               202
Map_reference           341
dtype: int64

In [18]:
print(site_df.columns.tolist())

['Site_Number', 'Location_Description', 'Site_Type', 'Directory', 'Map_reference']

### check for duplicated

In [20]:
site_df.duplicated(subset=['Site_Number']).sum()

np.int64(290)

In [22]:
site_df[site_df['Site_Number'].isnull()]

Empty DataFrame
Columns: [Site_Number, Location_Description, Site_Type, Directory, Map_reference]
Index: []

### remove duplicate value

In [23]:
# Remove duplicate site numbers, keeping the first occurrence
site_df = site_df.drop_duplicates(subset='Site_Number', keep='first')

# Confirm it's done
print(f"Remaining rows after removing duplicates: {len(site_df)}")

Remaining rows after removing duplicates: 4225

### handling missing value